@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  html.dark, 
  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }
  body {
    @apply min-h-screen;
  }
}